
.container__header {
    text-align: left;
    width: 70.25rem;
    margin-bottom: 4.81rem;
}

.container__header p {
    font-size: 1.12rem;
}

.header__title {
    font-size: 3rem;
    margin: 4.81rem 0 2.56rem 0rem;
}

.header__title--color{
    color: #FF0101;
}

.dashboard {
    margin: 2.81rem 5.62rem 5.5rem 14.12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard__keyFigures{
    margin-left: 1.93rem;
}

.stat__keyFigures {
    margin-left: 1.93rem;
    height: 100%;
}

.stat__dailyActivity {
    width: 52.18rem;
    height: 20rem;
    background-color:#FBFBFB;
}

.stat__charts {
    width: 52.18rem;
    height: 16.43rem;
    margin-top: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.charts__sessionDuration {
    background-color: #ff0000;
    width: 16.12rem;
    height: 100%;
    border-radius: 0.31rem;
    position: relative;
}

.charts__typeOfPerformance {
    background-color: #282d30;
    width: 16.12rem;
    height: 100%;
    border-radius: 0.31rem;
}

.charts__averageScore {
    width: 16.12rem;
    height: 100%;
    border-radius: 0.31rem;
    background-color: #fbfbfb;
}

.charts__sessionDuration__background{
    background-color: #000000;
    opacity: 0.1;
    width: 4.93rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
}

/*******************Responsive 1024px*******************/

@media (max-width: 1434px) { 
    .dashboard__keyFigures {
        margin: 0;
    }

    .dashboard {
        margin: 2.81rem 5.62rem 5.5rem 6rem;  
    }

    .container__header {
        width: 52.18rem;
    }
}