
.container__header {
    text-align: left;
    margin-left: 14rem;
}

.container__header p {
    font-size: 1.12rem;
}

.header__title {
    font-size: 3rem;
    margin: 4.25rem 0 2.56rem 0rem;
}

.header__title--color{
    color: #FF0101;
}

.dashboard {
    margin: 2.81rem 5.62rem 5.5rem 14.12rem;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard__keyFigures {
    margin-left: 1.93rem;
    height: 100%;
}

.dashboard__dailyActivity {
    width: 52.18rem;
    height: 20rem;
    background-color:#FBFBFB;
}
