
.container__header {
    text-align: left;
    margin-left: 14rem;
}

.container__header p {
    font-size: 1.12rem;
}

.header__title {
    font-size: 3rem;
    margin: 4.25rem 0 2.56rem 0rem;
}

.header__title--color{
    color: #FF0101;
}

.dashboard {
    margin: 2.81rem 5.62rem auto 14.12rem;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat__keyFigures {
    margin-left: 1.93rem;
    height: 100%;
}

.stat__dailyActivity {
    width: 52.18rem;
    height: 20rem;
    background-color:#FBFBFB;
}

.stat__charts {
    width: 52.18rem;
    height: 16.43rem;
    margin-top: 1.75rem;
    background: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .stat__charts div {
    width: 16.12rem;
    height: 100%;
} */

.charts__sessionDuration {
    background-color: #ff0000;
    width: 16.12rem;
    height: 100%;
    border-radius: 0.31rem;
}

.charts__typeOfPerformance {
    background-color: #282d30;
    width: 16.12rem;
    height: 100%;
    border-radius: 0.31rem;
}

.charts__averageScore {
    width: 16.12rem;
    height: 100%;
    border-radius: 0.31rem;
    background-color: #fbfbfb;
}