.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.25rem solid #E60000;
}

.home__name {
    display: flex;
    width: 100%;
    justify-content: space-around;
}