.container {
    display: flex;
    flex-direction: column;  
}

.keyFigure {
    background-color: #FBFBFB;
    width: 16.12rem;
    height: 7.75rem;
    margin-bottom: 2.43rem;
    display: flex;
    align-items: center;
}

.keyFigure:nth-child(4n) {
    margin: 0;
}

.keyFigure__img {
    margin-right: 1.5rem;
    margin-left: 2rem;
}

.keyFigure__name {
    text-align: start;
}

.keyFigure__name__data {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.12rem;
}

.keyFigure__name__label {
    font-size: 0.87rem;
    display: block;
    margin-top: 0.45rem;
}

/*****************Responsive 1024px**********************/

@media (max-width: 1434px) { 
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: space-around;
        margin-right: 1rem;
    }
}