.bar {
    background-color: #020203;
    height: 70rem;
    width: 7.31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

.bar__container {
    margin: 16rem 0 3rem 0;
}

.bar__icone {
    margin-bottom: 1.25rem;
}

.bar__text {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    font-size: 0.75rem;
}

/***************Responsive 1024px********************/

@media (max-width: 1434px) { 
    .bar {
        display: none;
    }
}